<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="MemberMapper">

	<!-- Register SQL -->
	<insert id="register">
		INSERT INTO
		MEMBER
		(userId, userPw)
		VALUES
		(#{userId},#{userPw})
	</insert>
	
	<!-- Login SQL -->
	<select id="login" resultType="com.mycompany.myapp.VO.MemberVO">
		SELECT USERID
		FROM MEMBER
		WHERE USERID = #{userId}
		AND USERPW =  #{userPw}
	</select>
</mapper>